<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="/static/styles/styles.css">
</head>
<body>
    <h1>GAME</h1>
    <div id="context">
    </div>

    <button id="startGame">Start Game</button>

    <script>
        document.getElementById("startGame").addEventListener("click", function() {
            window.location.href = "/gameStart";
        });
    </script>
</body>
</html>