<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Test</title>
    <link rel="stylesheet" href="../styles/videoGenTest.css">
</head>
<body>
    <div class="video-container">
        <h1>Generated Video</h1>
        <video autoplay muted>
            <source src="../../McHacksVideo1.mp4" type="video/mp4">
            Your browser does not support the video element.
        </video>
    </div>
</body>
</html>
